.event{
    float: left;
    height: auto;
    background: white;
    margin-bottom: 30px;
    border-radius: 10px;
}

.eventsContainer{
    display: flex;
    flex-direction: column;
}

.eventsContainer > div{
    flex: 1;
    box-shadow: 3px 1px 14px -3px rgba(0,0,0,0.75);
}

.eventHeader{
    width:100%;
    float:left;
    height:auto;
    background-color: darkslateblue;
    border-radius: 6px 6px 0 0;
}

.eventBody{
    width:100%;
    float:left;
    height:auto;
}

.eventFooter{
    width:100%;
    float:left;
    height:auto;
}

.eventFooterLeft{
    width:70%;
    float: left;
    height: auto;
    display:block;
}

.eventFooterRight{
    width:30%;
    float: left;
    height: auto;
}

.eventTitle{
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
    padding-left: 3%;
}

.eventDescription{
    padding: 5px 3% 5px 3%;
    text-indent: 20px;
}

.linkColor{
    color: darkslateblue;
    text-decoration: none;
}

.linkColor:hover{
    color: slateblue;
}

.eventSeeMoreButton{
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

.eventSeeMoreButton:hover{
    background-color: slateblue;
}

.author{
    padding-left: 25px;
}
