.event{
    width: 58%;
    background: #e2f3ff;
    margin-left: 15%;
    float: left;
    margin-bottom: 2%;
}

.eventTitle{
    color: cornflowerblue;
}

.eventDescription{

}

.eventSeeMoreButton{
    background: cornflowerblue;
    margin-right: 10px;
    margin-bottom: 5px;
    float: right;
    height: 30px;
    width: 10%;
    text-align: center;
    box-shadow: 2px 3px 4px darkslateblue;
}
