.rankingsContainer{
    display: flex;
    flex-direction: column;
}

.rankingsContainer > div{
    flex: 1;
}

.ranking{
    background: cornflowerblue;
    margin-left: 10%;
    height: 20%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.ranking th, .ranking td{
    border:  1px solid #ddd;
    padding: 8px;
}

.ranking tr:nth-child(even){
    background-color: #e2f3ff;
}

.ranking tr:hover{
    background-color: #264cff;
}

.ranking th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #264cff;
    color: white;
}