body{
    background-color: ghostwhite;
}

.mapDiv{
    width: 65%;
    margin: auto;
}

path {
    fill: white;
    stroke:  darkslateblue;
    stroke-width:2px;
    transition: fill 0.3s;
    text-anchor: middle;
}

path:hover {
    fill: lightslategray;
}

text{
    fill: black;
    font-weight: bold;
    font-size: large;
    font-family: "Segoe UI";
}


.textBoxObj{
    fill: white;
    stroke: lightslategray;
    stroke-width:3px;
    display: none;
}

.textBoxText{
    fill: black;
    font-weight: bold;
    font-size: small;
    font-family: "Segoe UI";
    display: none;
}

