nav{
    margin-bottom: 100px;
}

.navBar {
    padding-left:14%;
    padding-right:14%;

    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 2;

    overflow: hidden;
    background-color: darkslateblue;
    box-shadow: 3px 5px 10px -3px rgba(0,0,0,0.75);
}

.navBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: large;
}

.navBar a:hover {
    background-color: slateblue;
}

.navBar .icon {
    display: none;
}

.rightMenu{
    padding-left: 60%;
}

