nav{
    margin-bottom: 100px;
}
.navBar {
    background-color: cornflowerblue;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index:5;
    left: 0;
}

.navBar a.icon{
    display:none;
}

.navBar:after{
    content: "";
    display: table;
    clear: both;
}

.buttons {
    background: cornflowerblue;
    width: 100%;
    float : left;
    height: 70px;
    padding-right: 10px;
}

.button{
    width: 10%;
    float : left;
    height: 70px;
    text-align: center;
    box-shadow: 5px 10px 18px darkslateblue;

}

.button a {
    color: whitesmoke;
    padding: 23px 28px;
    float:left;
    display: block;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-family: "Segoe UI";
}

.button:hover {
    box-shadow: 5px 10px 18px cornflowerblue;
}
