@media screen and (max-width: 820px) {
    .navBar{
        padding-left: 0;
        padding-right: 0;
    }

    .rightMenu{
        float:none;
        z-index: 1;
        padding-left: 0;
    }

    .leftMenu a:not(:first-child) {display: none;}
    .rightMenu a{display: none;
    }

    .navBar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 820px) {

    .navBar.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .navBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 2200px) {
    .navBar a {
        padding: 20px 22px;
        font-size: xx-large;
    }
}