<html>
<head>

</head>

<style>
</style>

<body>
    <article>
        <h1>Motivation</h1>

        <p>Reducing traffic accidents is an important public safety challenge. However, 
            the majority of studies on traffic accident analysis and prediction have used small-scale 
            datasets with limited coverage, which limits their impact and applicability; and existing 
            large-scale datasets are either private, old, or do not include important contextual information 
            such as environmental stimuli (weather, points-of-interest, etc.). In order to help the research
            community address these shortcomings we have - through a comprehensive process of data collection,
            integration, and augmentation - created a large-scale publicly available database of accident
            information named US-Accidents.</p> 

        <p>US-Accidents currently contains data about 2.25 million instances
            of traffic accidents that took place within the contiguous United States, and over the last three 
            years. Each accident record consists of a variety of intrinsic and contextual attributes such as 
            location, time, natural language description, weather, period-of-day, and points-of-interest.</p>

    </article>

    <article>
        <h1>Annual United States Road Crash Statistics</h1>
        <p>
        More than 38,000 people die every year in crashes on U.S. roadways. The U.S. traffic fatality rate is 12.4 deaths per 100,000 inhabitants.
        </p>
        <p>
        An additional 4.4 million are injured seriously enough to require medical attention.
        </p>
        <p>
        Road crashes are the leading cause of death in the U.S. for people aged 1-54.
        </p>
        <p>
        The economic and societal impact of road crashes costs U.S. citizens $871 billion.
        </p>
        <p>
        Road crashes cost the U.S. more than $380 million in direct medical costs.
        </p>
        <p>
        The U.S. suffers the most road crash deaths of any high-income country, about 50% higher than similar countries in Western Europe, Canada, Australia and Japan.
        </p>
        <p>
        Pedestrian and bicyclist fatalities continue to rise in the United States. According to the National Highway Traffic Safety Administration (NHTSA), more pedestrians and cyclists were killed in 2018 than in any year since 1990.
        </p>
    </article>
</body>

</html>

