<link rel="stylesheet" type="text/css" href="../CSS/components_style/navbar_style.css">
<script src = "../JS/navbarScript.js"></script>

<nav id="navbar_container">
    <div class="navbar" id="navbar">
        <div class= "left-menu">
            <a href="index_controller.php">Home</a>
            <a href="see_all_controller.php">See all</a>
            <a href="statistics_controller.php">Statistics</a>
        </div>

        <div class= "right-menu">
            <a href="login.html">Login</a>
            <a href="register.html">Register</a>
        </div>

        <a class="icon" onclick="showHideFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</nav>
