.map-container{
    width: 100%;
    height: 600px;
    display: block;
    margin-bottom: 30px;
}

#mapid { 
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    }
    
.info h4 {
        margin: 0 0 5px;
        color: #777;
    }

/* 
path {
    fill: white;
    stroke: var(--pallete-color-1);
    stroke-width:2px;
    transition: fill 0.3s;
    text-anchor: middle;
}

path:hover {
    fill: lightslategray;
}

text{
    fill: black;
    font-weight: bold;
    font-size: large;
}


.text-box-obj{
    fill: white;
    stroke: lightslategray;
    stroke-width:3px;
    display: none;
}

.text-box-text{
    fill: black;
    font-weight: bold;
    font-size: small;
    display: none;
}
*/
/* Responsive */

@media screen and (max-width: 820px) {

    .map-container {
        width: 100%;
    }

} 